<div class="main-div">
  <h1 class="main-titles">Registro de clientes</h1>
  <div class="alert alert-success" role="alert" *ngIf="isSuccess">
    {{message}}
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="!isValid">
    {{message}}
  </div>
  <form *ngIf="customer">
    <div class="form-group">
      <label for="identiInput">Identificación</label>
      <input type="number" name="identiInput" class="form-control" id="identiInput" [(ngModel)]="customer.identification" placeholder="Ingrese su identificación">
    </div>
    <div class="form-group">
      <label for="nameInput">Nombre</label>
      <input type="text" name="nameInput" class="form-control" id="nameInput" [(ngModel)]="customer.name" placeholder="Ingrese su nombre">
    </div>
    <div class="form-group">
      <label for="lastnameInput">Apellido</label>
      <input type="text" name="lastnameInput" class="form-control" id="lastnameInput" [(ngModel)]="customer.lastname" placeholder="Ingrese su apellido">
    </div>
    <div class="form-group">
      <label for="lastnameInput">Fecha de nacimiento</label>
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="birthdayDate" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <img src="assets/calendar-icon.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <button type="submit" class="btn btn-primary btn-center" (click)="!isRunning && create()">Registrar</button>
  </form>
</div>